<section class="hero-unit search-box">
    <a href="https://www.yeastar.com/yeastar-central-management/?utm_source=support-portal&utm_medium=top-banner&utm_content=ycm" target="_blank" class="ycm-img"><img src="{{asset 'YCM.png'}}" alt="YCM"></a>
  {{search}}
</section>

<!--左侧广告gif-->
<div class="square-container left-gif-div" style="padding: 0;">
    <a href="https://www.yeastar.com/remote-management?utm_source=support-portal&utm_medium=left-banner&utm_content=remote-mgt" class="left-gif" target="_blank" ></a>
</div>
<!--左侧广告gif-->

<!--上区块-->


<div class="relative container z-40" id="page-container">
  <div class="row">


    <div class="col flex flex-column">
<!--helpful links-->    
        <div class="custom-blocks bg-custom-blocks" id="custom-blocks"><div class="text-left">
          <h2 class="inline-flex align-items-baseline mt-6">
            <template x-if="src">
              <img class="svg-icon mr-2" src="//theme.zdassets.com/theme_assets/10132367/0ec63b140374ba704a58fa0c743cb357683313dd.png" alt="" aria-hidden="true" :src="src">
            </template>
              Helpful links
            </h2>
        <ul class="list-unstyled row row-sm justify-content-start">
          
            <li class="-mb-1px col-12 md:col-6">
              <div class="media py-6 px-3 border-top border-bottom h-full text-base text-left hover:text-secondary">
                  <img class="mr-5" alt="" src="//theme.zdassets.com/theme_assets/10132367/fc6c33769e9e180cc62c626f64d004afe2a0fe96.svg" style="height: 40px; width: auto;">
                <div class="media-body">
                    <h3 class="m-0">
                        <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://help.yeastar.com">
                          Documents
                        </a>
                  </h3>
                  <p class="mt-3 mb-auto">
                   Find helpful articles in our document center
                   </p>
                   </div>
              </div>
            </li>
          
            <li class="-mb-1px col-12 md:col-6">
              <div class="media py-6 px-3 border-top border-bottom h-full text-base text-left hover:text-secondary">
                  <img class="mr-5" alt="" src="//theme.zdassets.com/theme_assets/10132367/633e813f5bec6c8dec7b571cb8b16ed503d4dabc.svg" style="height: 40px; width: auto;">
                <div class="media-body">
                  <h3 class="m-0">
                      <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://www.youtube.com/channel/UCWMvkTx3TznmvqbFGPskRQw">
                          Videos
                        </a>
                      </h3>
                  
                  <p class="mt-3 mb-auto">
                   Learn quickly with our range of video tutorials
                   </p>
                  </div>
              </div>
            </li>
          
            <li class="-mb-1px col-12 md:col-6">
              <div class="media py-6 px-3 border-top border-bottom h-full text-base text-left hover:text-secondary">
                
                  <img class="mr-5" alt="" src="//theme.zdassets.com/theme_assets/10132367/186b7d78a9c465243cb613268c2a0b993669de18.svg" style="height: 40px; width: auto;">
                <div class="media-body">
                  <h3 class="m-0">
                     <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="/hc/en-us/requests/new">
                          Create a ticket
                        </a>
                      </h3>
                  
                  
                    <p class="mt-3 mb-auto">
                      
                        Submit a request to our team to get answers
                      
                    </p>
                  
                </div>
              </div>
            </li>
          
            <li class="-mb-1px col-12 md:col-6">
              <div class="media py-6 px-3 border-top border-bottom h-full text-base text-left hover:text-secondary">
                
                  <img class="mr-5" alt="" src="//theme.zdassets.com/theme_assets/10132367/d2a7848b303b252d65fb01e0cbda7c320c71266f.svg" style="height: 40px; width: auto;">
                
                <div class="media-body">
                  
                    <h3 class="m-0">
                      
                        <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://support.yeastar.com/hc/en-us/sections/203747458-Announcements">
                          Announcements
                        </a>
                      
                    </h3>
                  
                  
                    <p class="mt-3 mb-auto">
                      
                        Keep up to date with the latest information
                      
                    </p>
                  
                </div>
              </div>
            </li>
          
        </ul>
      </div></div>
      
<!--helpful links结束--> 
      
<!--broswe topics-->   
      
      
        <div class="content-blocks bg-content-blocks" id="content-blocks">
          <div class="text-left py-4">
            
              

              
                <h2 class="inline-flex align-items-baseline mt-6" x-data="{ src: Theme.assets['content-blocks-heading'] }">
                  <template x-if="src">
                    <img class="svg-icon mr-2" src="//theme.zdassets.com/theme_assets/10132367/0ec63b140374ba704a58fa0c743cb357683313dd.png" alt="" aria-hidden="true" :src="src">
                  </template>
                  
                    Additional Resources
                  
                </h2>
              

              
              
                <ul class="list-unstyled row row-sm justify-content-start">
                  
                    
                      <li class="col-12 -mb-1px md:col-6">
                          <div class="media py-6 px-3 border-top border-bottom h-full text-base transition-fast hover:text-secondary">
                          
                            <img class="mr-5" alt="Getting started" data-asset="image" data-asset-id="category-4416348154641" src="//theme.zdassets.com/theme_assets/10132367/0a8d2bfb25d8ffaab171593aae4dd9d346d8a970.svg" style="height: 40px; width: auto;">
                          
                          <div class="media-body">
                            <h3 class="m-0">
                              <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://support.yeastar.com/hc/en-us/p/betaplan">
                                Beta Plan
                              </a>
                            </h3>
                            
                              <p class="mt-3 mb-auto">
                                Participate in beta plan and get a sneak preview of the new features
                              </p>
                            
                          </div>
                        </div>
                      </li>
                    
                  
                    
                      <li class="col-12 -mb-1px md:col-6">
                          <div class="media py-6 px-3 border-top border-bottom h-full text-base transition-fast hover:text-secondary">
                          
                            <img class="mr-5" alt="Design and styling" data-asset="image" data-asset-id="category-4416376561809" src="//theme.zdassets.com/theme_assets/10132367/633e813f5bec6c8dec7b571cb8b16ed503d4dabc.svg" style="height: 40px; width: auto;">
                          
                          <div class="media-body">
                            <h3 class="m-0">
                              <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="/hc/en-us/categories/4416376561809-Design-and-styling">
                                Webinar
                              </a>
                            </h3>
                            
                              <p class="mt-3 mb-auto">
                                Improve your troubleshooting skills by attending these enhanced level webinar
                              </p>
                            
                          </div>
                        </div>
                      </li>
                    
                  
                    
                      <li class="col-12 -mb-1px md:col-6">
                          <div class="media py-6 px-3 border-top border-bottom h-full text-base transition-fast hover:text-secondary">
                          
                            <img class="mr-5" alt="Creating content" data-asset="image" data-asset-id="category-4416352230161" src="//theme.zdassets.com/theme_assets/10132367/cefd3943d33edc0e0c72fd681768e867218eb5a6.svg" style="height: 40px; width: auto;">
                          
                          <div class="media-body">
                            <h3 class="m-0">
                              <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://support.yeastar.com/hc/en-us/community/topics">
                                Community
                              </a>
                            </h3>
                            
                              <p class="mt-3 mb-auto">
                                Give and receive helpful advice in our forum
                              </p>
                            
                          </div>
                        </div>
                      </li>
                    
                  
                    

                    </ul>
          </div>
        </div>
      
<!--broswe topics结束>                 

              
<!--knowledge base-->  
   <div class="custom-blocks bg-custom-blocks" id="custom-blocks"><div class="text-left">
          <h2 class="inline-flex align-items-baseline mt-6">
            <template x-if="src">
              <img class="svg-icon mr-2" src="//theme.zdassets.com/theme_assets/10132367/0ec63b140374ba704a58fa0c743cb357683313dd.png" alt="" aria-hidden="true" :src="src">
            </template>
              Knowledge Base
            </h2>
        <ul class="list-unstyled row row-sm justify-content-start">
          
            <li class="-mb-1px col-12 md:col-6">
              <div class="media py-6 px-3 border-top border-bottom h-full text-base text-left hover:text-secondary">
                  <img class="mr-5" alt="" src="//theme.zdassets.com/theme_assets/10132367/fc6c33769e9e180cc62c626f64d004afe2a0fe96.svg" style="height: 40px; width: auto;">
                <div class="media-body">
                    <h3 class="m-0">
                        <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://support.yeastar.com/hc/en-us/categories/1500000169682-P-Series-PBX">
                          P-Series PBX
                        </a>
                  </h3>
                  <p class="mt-3 mb-auto">
                   PAE-PSE-PCE
                   </p>
                   </div>
              </div>
            </li>
          
            <li class="-mb-1px col-12 md:col-6">
              <div class="media py-6 px-3 border-top border-bottom h-full text-base text-left hover:text-secondary">
                  <img class="mr-5" alt="" src="//theme.zdassets.com/theme_assets/10132367/fc6c33769e9e180cc62c626f64d004afe2a0fe96.svg" style="height: 40px; width: auto;">
                <div class="media-body">
                  <h3 class="m-0">
                      <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://support.yeastar.com/hc/en-us/categories/202596968-S-Series-PBX">
                          S-Series PBX
                        </a>
                      </h3>
                  
                  <p class="mt-3 mb-auto">
                   S412-S20-S50-S100-S300
                   </p>
                  </div>
              </div>
            </li>
          
            <li class="-mb-1px col-12 md:col-6">
              <div class="media py-6 px-3 border-top border-bottom h-full text-base text-left hover:text-secondary">
                
                  <img class="mr-5" alt="" src="//theme.zdassets.com/theme_assets/10132367/fc6c33769e9e180cc62c626f64d004afe2a0fe96.svg" style="height: 40px; width: auto;">
                <div class="media-body">
                  <h3 class="m-0">
                     <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://support.yeastar.com/hc/en-us/categories/115002438008-VoIP-Gateways">
                          VoIP Gateways
                        </a>
                      </h3>
                  
                  
                    <p class="mt-3 mb-auto">
                      
                        TA-TB-TE-TG
                      
                    </p>
                  
                </div>
              </div>
            </li>
          
            <li class="-mb-1px col-12 md:col-6">
              <div class="media py-6 px-3 border-top border-bottom h-full text-base text-left hover:text-secondary">
                
                  <img class="mr-5" alt="" src="//theme.zdassets.com/theme_assets/10132367/fc6c33769e9e180cc62c626f64d004afe2a0fe96.svg" style="height: 40px; width: auto;">
                
                <div class="media-body">
                  
                    <h3 class="m-0">
                      
                        <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://support.yeastar.com/hc/en-us/categories/360000719373-Troubleshooting">
                          Troubleshooting
                        </a>
                      
                    </h3>
                  
                  
                    <p class="mt-3 mb-auto">
                      
                        Learn how to troubleshooting issue for Yeastar products
                      
                    </p>
                  
                </div>
              </div>
            </li>
          
        </ul>
      </div></div>     
<!--knowledge base结束-->        




<!--coming soon-->  
         <div class="content-blocks bg-content-blocks" id="content-blocks">
          <div class="text-left py-4">
            
              

              
                <h2 class="inline-flex align-items-baseline mt-6" x-data="{ src: Theme.assets['content-blocks-heading'] }">
                  <template x-if="src">
                    <img class="svg-icon mr-2" src="//theme.zdassets.com/theme_assets/10132367/0ec63b140374ba704a58fa0c743cb357683313dd.png" alt="" aria-hidden="true" :src="src">
                  </template>
                  
                    Coming soon
                  
                </h2>
              

              
              
                <ul class="list-unstyled row row-sm justify-content-start">
                  
                    
                      
                    
                      <li class="col-12 -mb-1px md:col-6">
                          <div class="media py-6 px-3 border-top border-bottom h-full text-base transition-fast hover:text-secondary">
                          
                            <img class="mr-5" alt="Guides and resources" data-asset="image" data-asset-id="category-4416376562961" src="//theme.zdassets.com/theme_assets/10132367/ac97851d56c76ea2d56fcbfdfbdc4bf4a56eda12.svg" style="height: 40px; width: auto;">
                          
                          <div class="media-body">
                            <h3 class="m-0">
                              <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://support.yeastar.com/hc/en-us/articles/6093520199193">
                                Marketplace
                              </a>
                            </h3>
                            
                              <p class="mt-3 mb-auto">
                                Browse and download custom scripts and tools developed by support team with tutorial
                              </p>
                            
                          </div>
                        </div>
                      </li>
                    </ul>
              <ul class="list-unstyled row row-sm justify-content-start">
                  
                    
                      
                    
                      <li class="col-12 -mb-1px md:col-6">
                          <div class="media py-6 px-3 border-top border-bottom h-full text-base transition-fast hover:text-secondary">
                          
                            <img class="mr-5" alt="Guides and resources" data-asset="image" data-asset-id="category-4416376562961" src="//theme.zdassets.com/theme_assets/10132367/ac97851d56c76ea2d56fcbfdfbdc4bf4a56eda12.svg" style="height: 40px; width: auto;">
                          
                          <div class="media-body">
                            <h3 class="m-0">
                              <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://support.yeastar.com/hc/en-us/articles/6093520199193">
                                Marketplace
                              </a>
                            </h3>
                            
                              <p class="mt-3 mb-auto">
                                Browse and download custom scripts and tools developed by support team with tutorial
                              </p>
                            
                          </div>
                        </div>
                      </li>
                    </ul>
          </div>
        </div>
<!--coming soon结束-->



    </div>
<!--上区块-->
    
    
    
<!--右侧-->
    <aside class="lg:col-4">
          
          <div class="lg:mt-8">
            

              
              <div class="bg-gray-200 border-radius py-4 px-6 mb-6 shadow-md">
                  <h3 class="flex align-items-baseline my-4" x-data="{ src: Theme.assets['promoted-articles-heading'] }">

                      Popular articles & video
                    </h3>
                
                  <ul class="row row-sm list-unstyled">
                      <li class="col-12">

                        <div class="relative media align-items-baseline py-1 h-full"><div class="media-body">
                            <a class="link-stretched text-inherit" href="https://support.yeastar.com/hc/en-us/articles/4407785984025-Auto-Provisioning-Failure-since-October-due-to-the-Expired-Let-s-Encrypt-ISRG-Root-X1-CA-Cert-on-Yealink-Phone">Auto Provisioning Failure since October due to the Expired Let-s-Encrypt-ISRG-Root-X1-CA-Cert on Yealink Phone</a></div>
                        </div>
                      </li>
                    
                      <li class="col-12">

                        <div class="relative media align-items-baseline py-1 h-full"><div class="media-body">
                            <a class="link-stretched text-inherit" href="https://support.yeastar.com/hc/en-us/articles/4906824805401-How-to-Connect-Telekom-CompanyFlex-Sip-Trunk-to-P-series-PBX">How to Connect Telekom CompanyFlex Sip Trunk to P-series PBX</a></div>
                        </div>
                      </li>
                    
                      <li class="col-12">

                        <div class="relative media align-items-baseline py-1 h-full"><div class="media-body">
                            <a class="link-stretched text-inherit" href="https://support.yeastar.com/hc/en-us/articles/4414936614041-Yeastar-Certified-Engineer-preparation-course">Yeastar Certified Engineer preparation course</a></div>
                        </div>
                      </li>
                    
<li class="col-12">

                        <div class="relative media align-items-baseline py-1 h-full"><div class="media-body">
                            <a class="link-stretched text-inherit" href="https://www.youtube.com/watch?v=uOXNREQpP8o&t=2917s">SIP Troubleshooting for Beginners 2022 - SIP call analyse with Wireshark</a></div>
                        </div>
                      </li>
<li class="col-12">

                        <div class="relative media align-items-baseline py-1 h-full"><div class="media-body">
                            <a class="link-stretched text-inherit" href="https://www.youtube.com/watch?v=sWBTqG3qUEo">JavaScript APIs in WebRTC & build a simple WebRTC demo</a></div>
                        </div>
                      </li>
                     
                    </ul>
                </div>
            

          </div>

        
      
<div class="bg-gray-200 border-radius py-4 px-6 mb-6 shadow-md">
  <h3 class="flex align-items-baseline my-4" >Recent activity</h3>
               
  <div class="happening-content">

                  
    <div class="category-tree">
        
                    <section class="category">
          
                      <!--Recent activity-->
          
                      <section class="section" id="happeningRecent">{{recent_activity scope='community'}}
          
                      </section>
          
                      <!--Recent activity结束-->
          
                      <!--Knowledge base-->
          
                      <section class="section" id="happeningFeatured" style="display:none;">
            
                        {{recent_articles}}
            
                        <a href="https://support.yeastar.com/hc/en-us/categories/202596968-Knowledge-Base">See more</a>
          
                      </section>
           
                      <!--Knowledge base结束-->
        
                    </section>
      
                  </div>
    </div>
  </div>
      
       <div data-element="template" data-template="call-to-action">
          <div class="bg-gray-200 border-radius py-4 px-6 my-6 shadow-md">
             <h3 class="my-4">Still need help?</h3>
              <p>Our team of experts are available and just a click away</p>
        <a class="button button-primary my-4" href="/hc/en-us/requests/new">Contact us</a>
          
          </div>
      </div>
      
      
        </aside>
<!--右侧紧急事件-->
  </div> 
</div> 




<!--下区块
  
  <div class="contact-blocks" id="contact-blocks"><div class="container py-4">
        
          <h2 class="inline-flex align-items-baseline mt-6" x-data="{ src: Theme.assets['contact-blocks-heading'] }">
            <template x-if="src">
              <img class="svg-icon mr-2" src="//theme.zdassets.com/theme_assets/10132367/0ec63b140374ba704a58fa0c743cb357683313dd.png" alt="" aria-hidden="true" :src="src">
            </template>
            
              Get in touch
            
          </h2>
        
        <ul class="list-unstyled row row-sm justify-content-start">
          
            <li class="-mb-1px col-12 md:col-6 lg:col-4">
              <div class="media py-6 px-3 border-top border-bottom h-full text-base text-left hover:text-secondary">
                
                  <img class="mr-5" alt="" src="//theme.zdassets.com/theme_assets/10132367/3ec19011a1d3d580f81a4061541e4ead497cbca9.svg" style="height: 40px; width: auto;">
                
                <div class="media-body">
                  
                    <h3 class="m-0">
                      
                        <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="#">
                          Message us
                        </a>
                      
                    </h3>
                  
                  
                    <p class="mt-3 mb-auto">
                      
                        Start a conversation with our team and get the answers you need
                      
                    </p>
                  
                </div>
              </div>
            </li>
          
           
          
            <li class="-mb-1px col-12 md:col-6 lg:col-4">
              <div class="media py-6 px-3 border-top border-bottom h-full text-base text-left hover:text-secondary">
                
                  <img class="mr-5" alt="" src="//theme.zdassets.com/theme_assets/10132367/ac97851d56c76ea2d56fcbfdfbdc4bf4a56eda12.svg" style="height: 40px; width: auto;">
                
                <div class="media-body">
                  
                    <h3 class="m-0">
                      
                        <a class="link-stretched text-inherit transition-fast hover:no-underline hover:text-secondary" href="https://www.twitter.com">
                          Find a store
                        </a>
                      
                    </h3>
                  
                  
                    <p class="mt-3 mb-auto">
                      
                        Find a location near you for in person service
                      
                    </p>
                  
                </div>
              </div>
            </li>
          
        </ul>
      </div></div>
<!--下区块-->

<script type="text/javascript">
  Theme.assets['category-4416348154641'] = "//theme.zdassets.com/theme_assets/10132367/0a8d2bfb25d8ffaab171593aae4dd9d346d8a970.svg";Theme.assets['category-4416376561809'] = "//theme.zdassets.com/theme_assets/10132367/31caa6bfd8a7fd2cfcc1ffe780f081f71108a568.svg";Theme.assets['category-4416352230161'] = "//theme.zdassets.com/theme_assets/10132367/fc6c33769e9e180cc62c626f64d004afe2a0fe96.svg";Theme.assets['category-4416376562961'] = "//theme.zdassets.com/theme_assets/10132367/03327843b338719bb709af64d30addf8399fc3a6.svg";</script>

<script type="text/javascript">document.documentElement.classList.add('home-page');</script>
